*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Project exclude paths
/openCVLibrary341/build/
/openCVLibrary341/build/intermediates/classes/debug/